# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
tests\__pycache__
.pytest_cache
.vscode

# stop git recognising juypter outputs
.ipynb_checkpoints

# .*  # ignore all hidden files and folders
# !/.gitignore  # explicitly do not ignore .gitignore